/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
  width: 100%;
}
@media (max-width: 501px) {
  .nav-section {
    flex-direction: column;
    margin-top: 17px;
    margin-bottom: 5px;
  }
}
.nav-section h1 {
  width: 56%;
  transition: font-size 0.2s;
}
@media (max-width: 501px) {
  .nav-section h1 {
    text-align: center;
    font-size: 3rem;
  }
}
.nav-section h1:hover {
  font-size: 6rem;
  animation-name: fun-bus;
  animation-duration: 2s;
}
@keyframes fun-bus {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
.nav-section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36%;
  margin: 0 auto 0 auto;
}
@media (max-width: 501px) {
  .nav-section nav {
    margin-top: 17px;
    width: 75%;
  }
}
.nav-section nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.nav-section nav a:hover {
  color: #8c8c8c;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-top: 3px dashed #C0C0C0;
  padding-bottom: 13px;
}
@media (max-width: 501px) {
  .home .header-section {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 22px;
  }
}
@media (max-width: 501px) {
  .home .header-section img {
    margin: 0 24px;
    width: 90%;
  }
}
.home .header-section .text-content {
  margin-top: 15px;
  width: 100%;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 501px) {
  .home .header-section .text-content {
    margin: 17px 25px 0 25px;
    padding-bottom: 0px;
    width: 90%;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 501px) {
  .home .content-section {
    flex-direction: column;
    margin: 0px auto 0px auto;
    width: 90%;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 501px) {
  .home .content-section .text-content {
    width: 100%;
    padding-right: 0px;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 501px) {
  .home .content-section .img-content {
    width: 100%;
    padding-left: 0px;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 501px) {
  .home .content-section .img-content img {
    width: 100%;
    padding-left: 0px;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 501px) {
  .home .inverse-content .text-content {
    padding-left: 0px;
    margin-top: 25px;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 501px) {
  .home .inverse-content .img-content {
    padding-right: 0px;
    order: 1;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 501px) {
  .home .content-destination {
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 90%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 501px) {
  .home .content-pick {
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 90%;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 501px) {
  .home .content-pick .destination {
    flex-direction: column;
    margin: 0 auto 18px auto;
    width: 90%;
  }
}
.home .content-pick .destination .btn {
  background-color: #17A2B8;
  text-align: center;
  color: white;
  font-size: 1.75rem;
  padding: 15px;
  width: 100%;
  border-radius: 12px;
  transition: background-color 0.5s;
}
.home .content-pick .destination .btn:hover {
  background-color: #0f6674;
}
